MONGODB_URI="mongodb://somu:somu123@ac-pdsyoax-shard-00-00.ycactzh.mongodb.net:27017,ac-pdsyoax-shard-00-01.ycactzh.mongodb.net:27017,ac-pdsyoax-shard-00-02.ycactzh.mongodb.net:27017/?ssl=true&replicaSet=atlas-n70qtg-shard-0&authSource=admin&appName=perfume"
PORT=5000
NODE_ENV=development
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret_here
